* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #8f8f8f;
	font-family: "Lato", "Segoe UI", sans-serif;
	font-size: 12px;
}

main {
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	overflow: overlay;
	background-image: repeating-linear-gradient(145deg, #8f8f8f, #8f8f8f 6px, #999 6px, #999 12px);
}

#sketch {
	user-select: none;
}

canvas {
	display: block;
}

#imgDimensions,
#bgDimensions {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	user-select: none;
}

#imgDimensions.invisible,
#bgDimensions.invisible {
	display: none;
}

#imgDimensions.error,
#bgDimensions.error {
	background-image: repeating-linear-gradient(145deg, #444, #444 4px, #922 4px, #922 8px);
}

#imgDimensions * + *,
#bgDimensions * + * {
	margin-left: 10px;
}

input[type="file"] {
	display: none;
}

input[type="text"], input[type="number"], select {
	padding: 4px 6px;
	border: 1px solid #777;
	border-radius: 2px;
	background: #555;
	font: inherit;
	color: inherit;
	font-size: 14px;
	height: 30px;
}

input[type="number"] {
	text-align: right;
	width: 100px;
}

option {
	font: inherit;
	font-size: 14px;
}

input:focus, select:focus {
	outline: none;
	border-color: #999;
	background: #666;
}

button {
	display: block;
	padding: 0 6px;
	border: none;
	border-radius: 2px;
	background: #777;
	font: inherit;
	color: inherit;
	cursor: pointer;
	height: 30px;
}

button:focus {
	outline: none;
}
