* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #8f8f8f;
	font-family: "Lato", "Segoe UI", sans-serif;
	font-size: 12px;
}

main {
	position: absolute;
	top: 0;
	bottom: 50px;
	left: 0;
	right: 0;
	overflow: overlay;
	background-image: repeating-linear-gradient(145deg, #8f8f8f, #8f8f8f 6px, #999 6px, #999 12px);
}

#sketch {
	user-select: none;
}

canvas {
	display: block;
}

#imgDimensions,
#bgDimensions {
	z-index: 1;
	position: fixed;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	user-select: none;
}

.invisible {
	display: none !important;
}

#imgDimensions.error,
#bgDimensions.error,
.modal-error {
	background-image: repeating-linear-gradient(145deg, #444, #444 4px, #922 4px, #922 8px);
}

#imgDimensions * + *,
#bgDimensions * + * {
	margin-left: 10px;
}

input[type="file"] {
	display: none;
}

input[type="text"], input[type="number"], select {
	padding: 4px 6px;
	border: 1px solid #777;
	border-radius: 2px;
	background: #555;
	font: inherit;
	color: inherit;
	font-size: 14px;
	height: 30px;
}

input[type="number"] {
	text-align: right;
	width: 100px;
}

option {
	font: inherit;
	font-size: 14px;
}

input:focus, select:focus {
	outline: none;
	border-color: #999;
	background: #666;
}

button {
	display: block;
	padding: 0 6px;
	border: none;
	border-radius: 2px;
	background: #777;
	font: inherit;
	color: inherit;
	cursor: pointer;
	height: 30px;
}

button:focus {
	outline: none;
	box-shadow: 0 0 0 1px #999;
}

.modal {
	z-index: 10;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	user-select: none;
	padding: 24px;
	background: rgba(128, 128, 128, 0.8);
}

.modal-content {
	position: relative;
	overflow: hidden;
	max-width: 800px;
	margin: 0 auto;
	border-radius: 6px;
	background: #444;
	color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.modal-header {
	padding: 12px 24px;
	background: #222;
}

.modal-header button {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 30px;
	height: 30px;
	border-radius: 1000px;
	font-weight: bold;
}

.modal-body {
	padding: 24px;
}

.modal-error {
	padding: 24px;
	background: rgb(169, 45, 17);
}

.modal-actions {
	display: flex;
	flex-direction: row;
	padding: 24px;
	background: #222;
}

.modal-actions * {
	flex-grow: 1;
}

.modal-actions * + * {
	margin-left: 12px;
}

.modal-actions button:first-of-type {
	font-weight: bold;
	box-shadow: 0 0 0 1px #999;
	flex-grow: 4;
}

.modal-actions button:first-of-type:focus {
	font-weight: bold;
	box-shadow: 0 0 0 1px white;
}

h1 {
	margin: 0;
	font-size: 16px;
}

p {
	margin: 0;
}

p + p {
	margin-top: 24px;
}

label + label {
	margin-left: 64px;
}

label > span {
	display: inline-block;
	width: 100px;
	padding-right: 6px;
	text-align: right;
}